
body {
    box-sizing: border-box;
    margin-top: 5%;
}

#wrapper {
    width: 500px;
    margin: 0 auto;
}

button {
    width: 30%;
    height: 10%;
    font: 18px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input {
    border-radius: 1px;
    width: 90%;
    margin-bottom: 10px;
    font: 18px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: right;
}
